#form_container{
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

.form{
    width: 40%;
}

@media screen and (max-width: 768px){

    #form_container{
        flex-direction: column;
    }
    .form{
        width: 100%;
    }
}