@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
}
body{
    opacity: 1 !important;
    min-height: 100vh;
}

body .adminbtn   li{
    background-color: #43291F;
    width: 100%;
    border-radius: 3px;
}
.login100-more {
    background-color: #F2F5DE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0.4;
}

.login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F2F5DE;
    opacity: 0.4;
}

#search-btn{
    background-color: #56CBF9;
    color: white;
}

@media screen and (min-width: 200px) and (max-width: 1000px){
    body{
        margin-bottom: 15%;
    }
     div.recherche{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        width: 20%;
    }
li.vidal.nav-item {
    width: 50%;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2%;
}
    ul.fontbase{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    ul.fontbase li.fontbase{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -2px;
    }

    footer{
        position: fixed;
        bottom: 0;
        /*margin: 0;*/
    }
    p.text-center.text-white{
        margin: 0;
    }

}
span.fontbase{
    border-radius: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 15px !important;
}

ul.fontbase {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
}

ul li.fontbase {
    position: relative;
    list-style: none;
    width: 150px;
    height: 35px;
    margin: 0 20px;
}

ul li.fontbase:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    transform-origin: top;
    transform: skewX(-41deg);
}

ul li.fontbase:after {
    border-radius: 30px;
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transform-origin: right;
    transform: skewY(-49deg);
}

ul li span.fontbase {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #56CBF9;
    justify-content: center;
    align-items: center;
    transition: 1.5s ease-out;
    font-family: "Segoe UI", serif;
}

ul li.fontbase:hover span.fontbase {
    border-radius: 30px;
    z-index: 1000;
    transition: .3s;
    color: #070707;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

ul li.fontbase:hover span.fontbase:nth-child(5) {
    transform: translate(-40px, 40px);
    opacity: 1;
}

ul li.fontbase:hover span.fontbase:nth-child(4) {
    transform: translate(-25px, 25px);
    opacity: 1;
}

ul li.fontbase:hover span.fontbase:nth-child(3) {
    transform: translate(-15px, 15px);
    opacity: 1;
}


ul li.fontbase:hover span.fontbase:nth-child(2) {
    transform: translate(-5px, 5px);
    opacity: 0.4;
}

 ul li.fontbase:hover span.fontbase:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 0.2;
}


footer{
    background-color: #4F759B;
    padding: 1.5%;
    width: 100%;
    color: white;
    text-align: center;
}


