#visite-container{
    padding-bottom: 5%;
    display: flex;
}

#visite-card{
    width: 40%;
    background-color: #6a6c6a;
    color: white;
    border-radius: 10px;
    padding: 1.5em;
    margin-right: 3%;
    font-size: 1.2em;
}

#visite-form{
    width: 50%;
}

@media screen and (max-width: 768px){

    #visite-container{
        flex-direction: column;
    }
    #visite-card{
    width: 100%;
    margin-bottom: 1.3em;
    }
    #visite-form{
        width: 100%;
    }

}