{% extends 'base.html.twig' %}

{% block stylesheets%}

    <link rel="stylesheet" href="{{ asset('restyle.css') }}">

{% endblock %}

{% block body %}

    <h3>{{ app.user.pseudo }}</h3>

    <main class="main">

        <ul class="nav nav-tabs" id="media">

            <li class="nav-item">
                <a id="accueil" class="nav-link active" href="">A</a>
            </li>
            <li class="nav-item">
                <a id="livraison" class="nav-link" href="">Livraison</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="">Commandes</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="">Liste des produits</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="">Ajout/Suppression de produit</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="">Promotions</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path('app_admin_utilisateur_listeutilisateurs') }}">Utilisateurs</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_admin_utilisateur_inscription') }}">Inscription</a></li>
            {% else %}
                <li class="nav-item">
                    <a  class="nav-link" href="">Connexion</a>
                </li>
            {% endif %}

        </ul>

        <h1>Accueil</h1>


    </main>

{% endblock %}