{% extends 'base.html.twig' %}

{% block body %}


    <div class="card">
        <div class="card-header">
           Votre Journée :
        </div>
        <div class="card-body">
            {% if app.user.fonction=='Restaurateur' %}
                <h4 class="card-title">Livraisons </h4>
                {% else %}
                    <h4 class="card-title">Commandes </h4>
            {% endif %}

            {% if app.user.fonction=='Restaurateur' %}
                {% for livraison in livraisons %}
                    {% if livraison.checked == 'non' %}
            <table class="table table-bordered">
                <tbody>
               <tr><th> <a href="{{ path('app_index_livresto', {'id': app.user.societe.id}) }}">{{ livraison.commande.fournisseur.nom }}</a></th></tr>
                </tbody>
            </table>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for commande in commandes %}
                    {% if commande.checkfourn == 'non' %}
                    <table class="table table-bordered">
                        <tr><a href="{{ path('app_index_commandesfourn', {'id': app.user.societe.id}) }}"><th>{{ commande.restaurateur.nom }}</th></a></tr>
                    </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}