* {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    font: 400 16px/1.5 Arial, sans-serif;
    min-height: 100vh;

}


.home {

    background: url("chef.jpg") center top / cover;

}



h2 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 60px;
     text-shadow: black;
    font-family: 'Monoton', cursive;


}

.burger {
    background: url("fleche.png")center/cover white;
        border: 2px solid grey;
                margin-top: 2%;
                    margin-left: 45%;
                        padding: 2%;
                                    width: 10%;

}

.meteo{

       border-radius: 5px 5px 5px;
}


.date {
    font-family: 'Orbitron', sans-serif;

    border-radius: 5px 5px 5px;

    padding: 15px;


}



.main{

    width: 80%;



}




ul>li{ display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background:aliceblue ;
    border: 1px solid grey;
    list-style: none;
    box-shadow: 2px 3px 6px;
}



.panier{
    width: 40%;
    background-color: white;
    opacity: 0.8;
}


.navbar {

    background: black !important;
    margin-top: 15px;
    min-height: 10vh;

}


.navbar-brand {
    font-size: 30px !important;
    font-family: 'Fredericka the Great', cursive;
}

span.navbar-brand {
    font-size: 20px;
    color: #916319 !important;
}

a{
    font-size: 20px;
    color: #916319 !important;
}





@media screen and (min-width: 410px)and (max-width: 1000px) {


h2 {  display: block;
        align-items: center;

    font-size: 42px;

}


    #media {
        display: flex;
         flex-direction:column;


            margin-left: 10%;
            margin-top: 50px;
                min-height: 100px;

    }


    .navbar {

       display: flex;
            flex-flow: row wrap-reverse;
                width: 110%;
                        justify-content: center;
                            align-content:space-between ;

    }

    .date {

    margin-right: 20px;

    }

    #effect {
        display: flex;
            flex-flow: row wrap ;


    }




}



