* {
    box-sizing: border-box;
}
/* Permet de contenir le conteneur dans une taille globale établie */

body {
    margin: 0 auto;
    font: 400 16px/1.5 Arial, sans-serif;
    min-height: 100vh;

}

/* Empecher les éléments  de s'étirer sur toute la largeur de leur conteneur. */


.home, .bcg {

    background: url("chef.jpg") center top / cover;

}

/* La photo CHEF de fond trouvée sur un site de restauration */


.pagin{
    padding-left: 48%;
    text-align: center;
    margin-bottom: 4vh;

}
/* Le CSS de la pagination  */


h1{
    font-size: 50px;
        font-weight: bold;
            border: 2px solid grey;
            border: black;
                background-color: white;

        color: black;

    font-family: 'Poiret One' ;
}

/* Les éléments d'habillage des H1 d'onglets en onglets */



h2 {

    font-size: 60px;
    color: darkgoldenrod;
        text-shadow: 1px 1px darkgoldenrod;
            text-decoration: underline dotted;
            text-align: justify-all;

    font-family: 'Monoton', cursive;

}

/* Les différentes fonctions liées au COMMANDEUR titre et son animation en JS */





.listeprodcont{
    display: flex;
    justify-content: space-between;
}

.listeproduit{
    width: 68%;
}
.commande{
    width: 28%;
}

.creasociete {
    width: 80%;
    margin: 0 auto;
}

.navigation{
    width: 100%;
    justify-content: space-around;

}

/* Les différentes fonctions de dimmensions liées au différents onglets    */


.burger {

    background: url("fleche.png")center/cover white;
        border: 2px solid grey;
                margin-top: 2%;
                    margin-left: 50%;
                        padding: 3%;
                                    width: 10%;
}


/* Les gestion de l'habillage du Burger pour son placement et également son positionnement */



.pseudo

{
    border: 1px solid white;
    padding: 3px;

}


/* Le style du pseudo de l'utilisateur */

#parent #popup {
    display: none;

}

#parent:hover #popup {
    display: inline-block;

        color: #ff0000;
font-size: 20px;
    border: 1px solid white;
        padding: 3px;
                font-family: 'Poiret One', cursive;

}


#parent2 #popup2 {
    display: none;
        position: absolute;
            margin-left: 50px;
}

#parent2:hover #popup2 {
    display: inline-flex;


    color: whitesmoke;
        border: 1px solid white;
            padding: 3px;
                font-size: 20px;

    font-family: 'Poiret One', cursive;
}


/* Le style et le positionnement des animations relatives au message du png liste utlisateur, factures et éconnexon  */





.date {

    font-size: 40px;
    border-radius: 5px 5px 5px;

}

/* L'habillage et la mise en valeur de la date */



.main{

    width: 80%;
    margin: 0 auto;
    margin-bottom: 4vh;
}

/* La gestion principale du MAIN de page en page avec un conteneur de 80% sur chaques pages */



ul>li{ display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
        margin-top: 15px;

    background:aliceblue ;
    border: 1px solid grey;

    list-style: none;
    box-shadow: 2px 3px 6px;
}


/* L'habillage et le positionnement des différents onglets en fonction du profil connecté, Il s'agissait de faire ressortir ceux ci avec une légère teinte bleutée sans pour autant trop denoter du disign global, le tout en responsive  */





.panier{
    width: 40%;
    background-color: white;
    opacity: 0.8;
}

/* L'assemblage du panier avec sa taille et son opacité */



.navbar {

    background: black !important;
    margin-top: 15px;
    min-height: 10vh;
        width: 100%;


}



/* La navbar globale avec son background, son positionement en page ainsi que sas dimensions minimales en fonction */


span.navbar-brand {
    font-size: 20px;

    font-size: 30px !important;
    font-family: 'Fredericka the Great', cursive;
    color: #916319 !important;
}

/* La police et le design du Pseudo utilisateur */


a{
    font-size: 20px;
    color: #916319 !important;
}
/*  */

footer{


   margin-top: 600px;

}


p { display: flex;

    justify-content: center;
        align-items: center;

    color: white;

        font-size: medium;
    font-family: 'Poiret One'

}


/* Le positionnement de la navigation du Footer*/


@media screen and (min-width: 410px)and (max-width: 1000px) {


    /* En Media query ici toutes les balises necessitant d'etre réadaptées en fonction du passage en tablette ou mobile*/


    h2 {  display: flex;
        justify-content: center;
        align-items: center;

    font-size: 42px;

}

    #parent2 {

        margin-right: 90px;

    }


    .meteo {
        width: 100%;
    }

    .phone1 {
        width: 100%;
        margin-left: 0; }



    #media {
        display: flex;
         flex-direction:column;

            margin-left: 10%;
            margin-top: 50px;
                min-height: 100px;

    }
    .listeprodcont{
        display: flex;
        flex-flow: column;
    }


    .listeproduit{
        width: 100%;
    }


    .commande{
        width: 100%;
    }


    .navbar {

       display: flex;
            flex-flow: row wrap-reverse;
                width: 100%;
                padding: 25px;
                        justify-content: center;
                            align-content:space-between ;
                                align-items: flex-end;


    }

    .date {

    margin-right: 20px;

    }

    #effect {
        display: flex;
            flex-flow: row wrap ;

    }




}



